@charset "UTF-8";
body {
  color: #333333;
  font-family: ヒラギノ明朝 ProN;
  line-height: 1.5;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

section {
  padding: 60px 0;
}

.title {
  font-size: 30px;
  text-align: center;
  padding-bottom: 64px;
  position: relative;
}

.title::after {
  background-color: #3EA1D1;
  content: '';
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 50%;
  display: inline-block;
  width: 50px;
  height: 2px;
}

.btn {
  color: #3EA1D1;
  padding: 16px 54px;
  border: 1px solid #3EA1D1;
}

.btn:hover {
  background-color: #3EA1D1;
  color: #fff;
}

.btn-section {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.pc {
  display: none;
}

@media screen and (min-width: 768px) {
  .pc {
    display: inline;
  }
}

header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #fff;
  height: 60px;
}

@media screen and (min-width: 768px) {
  header {
    height: 70px;
  }
}

header .drawer-contents {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  header .drawer-contents {
    display: none;
  }
}

header .drawer-contents .drawer--right .drawer-open .drawer-hamburger {
  right: 0 !important;
}

header .drawer-contents .drawer-nav {
  background-color: #3ea1d1;
}

header .drawer-contents .drawer-nav ul li a {
  color: #ffffff;
}

header .header-contents {
  display: flex;
  justify-content: space-between;
}

header .header-contents .header-logo {
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  header .header-contents .header-logo {
    padding-top: 20px;
  }
}

header .header-contents .header-logo img {
  width: 120px;
}

header .header-contents .header-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  header .header-contents .header-nav {
    display: inline-block;
  }
}

header .header-contents .header-nav ul {
  display: flex;
}

header .header-contents .header-nav ul li {
  line-height: 0;
}

@media screen and (min-width: 768px) {
  header .header-contents .header-nav ul li {
    line-height: 70px;
  }
}

header .header-contents .header-nav ul li a {
  color: #333333;
  padding: 0 16px;
}

.top-wrapper {
  height: 700px;
}

.top-wrapper .top-contents {
  background-image: url(/img/top-sp.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100% 80%;
  height: 500px;
}

@media screen and (min-width: 768px) {
  .top-wrapper .top-contents {
    background-image: url(/img/top.png);
    background-size: contain;
    background-size: 90%;
    background-position-x: right;
    height: 600px;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .top-wrapper .top-text {
    background-color: #fff;
    position: absolute;
    bottom: 250px;
    padding: 52px 47px;
  }
}

.top-wrapper .top-text .top-title {
  font-size: 26px;
  padding-top: 40px;
  padding-bottom: 32px;
}

.top-wrapper .top-text .top-subtitle {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .concept-wrapper .concept-contents {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .concept-wrapper .concept-contents .concept-img {
    width: 50%;
    padding-right: 10px;
  }
}

.concept-wrapper .concept-contents .concept-img img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .concept-wrapper .concept-contents .concept-text {
    width: 50%;
    padding-left: 10px;
  }
}

.concept-wrapper .concept-contents .concept-text .concept-title {
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 32px;
}

.concept-wrapper .concept-contents .concept-text .concept-subtitle {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .feature-wrapper .feature-contents {
    display: flex;
    justify-content: space-around;
  }
}

.feature-wrapper .feature-contents .feature-item {
  box-shadow: 0 0 10px #989898;
  margin-bottom: 48.5px;
}

@media screen and (min-width: 768px) {
  .feature-wrapper .feature-contents .feature-item {
    width: 30%;
  }
}

.feature-wrapper .feature-contents .feature-item .feature-img:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}

.feature-wrapper .feature-contents .feature-item .feature-text {
  font-size: 16px;
  padding: 20px 0 60px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feature-wrapper .feature-contents .feature-item .feature-text {
    padding: 31.8px 0;
  }
}

.we-can-wrapper {
  background-image: url(/img/bg-sp.jpg);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .we-can-wrapper {
    background-image: url(/img/bg.jpg);
  }
}

@media screen and (min-width: 768px) {
  .we-can-wrapper .we-can-contents {
    width: 50%;
    margin-right: 0;
  }
}

.we-can-wrapper .we-can-contents .we-can-title {
  font-size: 20px;
  padding-top: 182px;
  padding-bottom: 32px;
}

.we-can-wrapper .we-can-contents .we-can-subtitle {
  font-size: 14px;
  padding-bottom: 55px;
}

@media screen and (min-width: 768px) {
  .products-wrapper .products-contents {
    display: flex;
    justify-content: space-around;
  }
}

.products-wrapper .products-contents .products-item {
  width: 70%;
  margin: auto;
  padding-top: 10px;
  margin-bottom: 48px;
  background-color: #ffffff;
  flex-basis: auto;
}

@media screen and (min-width: 768px) {
  .products-wrapper .products-contents .products-item {
    width: 30%;
  }
}

.products-wrapper .products-contents .products-item .product-img:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}

.products-wrapper .products-contents .products-item .products-name {
  font-size: 14px;
  padding-top: 24px;
}

.products-wrapper .products-contents .products-item .products-price {
  font-size: 14px;
  color: #989898;
  padding-top: 16px;
}

.news-wrapper {
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .news-wrapper {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .news-wrapper .news-contents {
    padding-bottom: 20px;
  }
}

.news-wrapper .news-contents .news-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .news-wrapper .news-contents .news-item {
    display: flex;
    border-bottom: 1px solid #888888;
  }
}

.news-wrapper .news-contents .news-item .news-img:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .news-wrapper .news-contents .news-item .news-img {
    width: 50%;
    padding-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .news-wrapper .news-contents .news-item .news-text {
    width: 70%;
  }
}

.news-wrapper .news-contents .news-item .news-text .news-date {
  font-size: 14px;
  padding-top: 24px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .news-wrapper .news-contents .news-item .news-text .news-date {
    padding-top: 10px;
  }
}

.news-wrapper .news-contents .news-item .news-text .news-title {
  font-size: 16px;
  padding-bottom: 24px;
}

.news-wrapper .news-contents .news-item .news-text .news-content {
  font-size: 14px;
  color: #888888;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .news-wrapper .news-contents .news-item .news-text .news-content {
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .word-wrapper {
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 768px) {
  .word-wrapper .word-contents {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .word-wrapper .word-contents .word-img {
    width: 50%;
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .word-wrapper .word-contents .word-text {
    width: 50%;
    padding-left: 10px;
  }
}

.word-wrapper .word-contents .word-text .word-title {
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 32px;
}

.word-wrapper .word-contents .word-text .word-subtitle {
  font-size: 14px;
}

.form-wrapper {
  background-image: url(/img/news-2.png);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .form-wrapper form {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

.form-wrapper .form-title {
  color: #3EA1D1;
}

.form-wrapper .form-caution {
  padding-bottom: 32px;
}

.form-wrapper .form-caution::first-letter {
  color: red;
}

@media screen and (min-width: 768px) {
  .form-wrapper .form-caution {
    text-align: center;
  }
}

.form-wrapper .form-item {
  margin: auto;
}

@media screen and (min-width: 768px) {
  .form-wrapper .form-item {
    display: flex;
    width: 600px;
  }
}

.form-wrapper .form-item .label-title {
  background-color: #3EA1D1;
  color: #FFFFFF;
  padding: 10px 25px 8px 15px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .form-wrapper .form-item .label-title:before {
    position: absolute;
    content: "";
    display: block;
    border: #3EA1D1 20px solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    top: 0%;
    right: -30px;
    border-left-width: 10px;
  }
}

.form-wrapper .form-item .label-title:after {
  position: absolute;
  content: "*";
  display: block;
  top: 10%;
  color: red;
  right: 10px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .form-wrapper .form-item .label-title {
    width: 180px;
    height: 40px;
    display: inline-block;
    margin-right: 20px;
  }
}

.form-wrapper .form-item input, .form-wrapper .form-item textarea {
  margin-bottom: 32px;
  width: 85%;
  padding: 10px 0;
  margin-top: 7px;
}

@media screen and (min-width: 768px) {
  .form-wrapper .form-item input, .form-wrapper .form-item textarea {
    width: 320px;
    display: inline-block;
  }
}

.form-wrapper .form-item .label-choice {
  background-color: #fff;
  color: #3EA1D1;
  width: 79px;
  height: 38px;
  padding: 7.5px 23px;
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 32px;
}

.form-wrapper .form-item input[type="radio"] {
  display: none;
}

.form-wrapper .form-item input[type="radio"]:checked + label {
  background-color: #3EA1D1;
  opacity: 1.0;
  color: #fff;
}

.form-wrapper .check-box {
  display: none;
}

.form-wrapper .check-box:checked + span::after {
  opacity: 1;
}

.form-wrapper .check-box + span {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.form-wrapper .check-box + span:before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  content: "";
  width: 1em;
  height: 1em;
  background-color: #fff;
  border: 1px solid #989898;
  transform: translateY(-50%);
}

.form-wrapper .check-box + span:after {
  position: absolute;
  top: -5%;
  left: 0;
  width: 1em;
  height: 0.6em;
  content: "";
  border-left: 3px solid #3EA1D1;
  border-bottom: 3px solid #3EA1D1;
  transform: rotate(-45deg);
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .form-wrapper .checkbox {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.form-wrapper span {
  padding-left: 25px;
}

.form-wrapper span a {
  color: #3EA1D1;
}

.form-wrapper button {
  color: #3EA1D1;
  background-color: #fff;
  border: 1px solid #3EA1D1;
  padding: 16px 54px;
  display: block;
  margin: 20px auto;
}

.form-wrapper button:hover {
  background-color: #3EA1D1;
  color: #fff;
}

footer {
  padding-bottom: 30px;
  background-color: #F7F7F7;
}

footer .footer-logo {
  width: 120px;
  display: block;
  margin: auto;
  padding-top: 40px;
}

footer .footer-text {
  padding-top: 16px;
  font-size: 12px;
  text-align: center;
}

footer .footer-text a {
  color: #333333;
}

footer .footer-text a .footer-list {
  padding: 8px;
}

footer .footer-sns {
  padding: 20px 0;
}

footer .footer-sns ul {
  display: flex;
  justify-content: center;
}

footer .footer-sns ul .footer-sns-icon {
  color: #3EA1D1;
  font-size: 25px;
  padding: 0 30px;
}

footer .copy-right {
  text-align: center;
}
